SCRAPE_INTERVAL = 30  # seconds
SEND_INTERVAL = 80

FILTER = {
    'max_price': 5000,
    'max_km': 100000,
}

SMTP = {
    'from': '',
    'to': '',
    'host': None,
    'port': 587,
    'user': '',
    'password': '',
}
